<div class="container">
    <div class="jumbotron">
        <h1>Scorekeeper</h1>
        <p class="lead">Keep score of a game with your friend and have them watch the progression on their phone!</p>
        <div class="form-group">
            <label for="gamename">Create a game NOW!</label>
            <input class="form-control" data-bind="value: gameName" placeholder="My game">
        </div>
        <p><button class="btn btn-lg btn-success" data-bind="click: create">Create game!</button></p>
    </div>
</div>