<div class="container">
    <div class="row">
        <div class="pull-right">
            <button class="btn btn-warning btn-lg" data-bind="click: reset"><i class="fa fa-refresh"></i></button>
            <button class="btn btn-primary btn-lg" data-bind="click: addPlayer"><i class="fa fa-user-plus"></i></button>
        </div>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th class="fa" style="display: table-cell !important" >&nbsp;</th>
                <th class="text-center">Name</th>
                <th class="text-center">Add</th>
                <th class="text-center">Substract</th>
                <th class="text-center">Score</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: players">
            <tr>
                <th class="fa" style="display: table-cell !important" data-bind="css: { 'fa-star': isWinning, 'fa-chain-broken': isLosing, winning: isWinning, losing: isLosing }"></th>
                <td><input name="playerName" type="text" class="form-control" data-bind="value: name"></td>
                <td class="text-center"><button class="btn btn-success" data-bind="click: add(1)"><i class="fa fa-plus-circle fa-lg"></i></button></td>
                <td class="text-center"><button class="btn btn-danger" data-bind="click: add(-1)"><i class="fa fa-minus-circle fa-lg"></i></button></td>
                <td class="score text-center" data-bind="text: score() > 0 ? '+' + score() : score(), css: { 'text-success': score() > 0, 'text-danger': score() < 0 }"></td>
            </tr>
        </tbody>
    </table>
</div>