// Core variables and mixins
@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/fontawesome/less/font-awesome.less";
@import "./variables.less";

// Global custom styles
body {
    padding-top: 65px;
}

//https://github.com/angular-ui/bootstrap/issues/2925
.modal-backdrop {
    bottom: 0;
}

.score, .view-name {
    font-weight: 600;
    font-size: 30px;
}

.winning {
    color: #f0ad4e;
}

.losing {
    color: #d9534f;
}

.status {
    display: table-cell !important;
    width: 30px;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

// Components
