<div class="container">
    <!-- ko if: connected -->
    <h1 data-bind="text: name"></h1>
    <table class="table">
        <tbody data-bind="foreach: players">
            <tr>
                <td class="view-name" data-bind="text: name"></td>
                <td class="score text-center" data-bind="text: score > 0 ? '+' + score : score, css: { 'text-success': score > 0, 'text-danger': score < 0 }"></td>
            </tr>
        </tbody>
    </table>
    <!-- /ko -->
    <!-- ko ifnot: connected -->
    <div class="alert alert-danger" role="alert" data-bind="text: t('general.disconnected')"></div>
    <!-- /ko -->
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted"><i class="fa fa-users"></i><span class="sr-only" data-bind="text: t('general.viewerCount')"></span> <span data-bind="text: viewerCount"></span></p>
    </div>
</footer>


